In [1]:
import numpy as np
import pandas as pd

In [3]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 7 columns):
id            20800 non-null int64
title         20242 non-null object
author        18850 non-null object
text          20753 non-null object
label         20800 non-null object
Unnamed: 5    84 non-null object
Unnamed: 6    7 non-null float64
dtypes: float64(1), int64(1), object(5)
memory usage: 1.1+ MB

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 6 columns):
id            5200 non-null int64
title         5078 non-null object
author        4698 non-null object
text          5192 non-null object
Unnamed: 4    17 non-null object
Unnamed: 5    2 non-null object
dtypes: int64(1), object(5)
memory usage: 243.9+ KB

In [6]:
train.head(10)

,id,title,author,text,label,Unnamed: 5,Unnamed: 6
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1,NaN,NaN
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0,NaN,NaN
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,NaN,NaN
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1,NaN,NaN
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1,NaN,NaN
5,5,Jackie Mason: Hollywood Would Love Trump if He...,Daniel Nussbaum,"In these trying times, Jackie Mason is the Voi...",0,NaN,NaN
6,6,Life: Life Of Luxury: Elton John’s 6 Favorite ...,NaN,Ever wonder how Britain’s most iconic pop pian...,1,NaN,NaN
7,7,Benoît Hamon Wins French Socialist Party’s Pre...,Alissa J. Rubin,"PARIS — France chose an idealistic, traditi...",0,NaN,NaN
8,8,Excerpts From a Draft Script for Donald Trump’...,NaN,Donald J. Trump is scheduled to make a highly ...,0,NaN,NaN
9,9,"A Back-Channel Plan for Ukraine and Russia, Co...",Megan Twohey and Scott Shane,A week before Michael T. Flynn resigned as nat...,0,NaN,NaN

In [7]:
#1 unreliable news
#0 realiable news
test.head()

,id,title,author,text,Unnamed: 4,Unnamed: 5
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning...",NaN,NaN
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...,NaN,NaN
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...,NaN,NaN
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different...",NaN,NaN
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...,NaN,NaN

In [8]:
test['label'] = '1'

In [9]:
test.head()

,id,title,author,text,Unnamed: 4,Unnamed: 5,label
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning...",NaN,NaN,1
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...,NaN,NaN,1
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...,NaN,NaN,1
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different...",NaN,NaN,1
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...,NaN,NaN,1

In [10]:
train.fillna(' ', axis=0,inplace=True)

In [12]:
test.fillna(' ',axis=0, inplace=True)

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 7 columns):
id            20800 non-null int64
title         20800 non-null object
author        20800 non-null object
text          20800 non-null object
label         20800 non-null object
Unnamed: 5    20800 non-null object
Unnamed: 6    20800 non-null object
dtypes: int64(1), object(6)
memory usage: 1.1+ MB

In [14]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 7 columns):
id            5200 non-null int64
title         5200 non-null object
author        5200 non-null object
text          5200 non-null object
Unnamed: 4    5200 non-null object
Unnamed: 5    5200 non-null object
label         5200 non-null object
dtypes: int64(1), object(6)
memory usage: 284.5+ KB

In [15]:
train['total']= train['title']+' '+train['author']+train['text']

In [16]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 8 columns):
id            20800 non-null int64
title         20800 non-null object
author        20800 non-null object
text          20800 non-null object
label         20800 non-null object
Unnamed: 5    20800 non-null object
Unnamed: 6    20800 non-null object
total         20800 non-null object
dtypes: int64(1), object(7)
memory usage: 1.3+ MB

In [17]:
test['total']=test['title']+ ' '+test['author']+test['text']

In [18]:
from sklearn.feature_extraction.text import CountVectorizer

In [19]:
from sklearn.feature_extraction.text import TfidfTransformer

In [20]:
transformer = TfidfTransformer(smooth_idf=False)

In [21]:
count_vectorizer= CountVectorizer()

In [22]:
counts = count_vectorizer.fit_transform(train['total'].values)

In [23]:
tfidf = transformer.fit_transform(counts)

In [24]:
targets = train['label'].values

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X_train,X_test, y_train, y_test = train_test_split(tfidf, targets, random_state=0)

In [27]:
#Model

In [28]:
#Multinomial Naive Bayes
from sklearn.naive_bayes import MultinomialNB

In [29]:
classifier_NB = MultinomialNB()

In [30]:
classifier_NB.fit(X_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [31]:
classifier_NB.predict(X_test)

array(['0', '0', '1', ..., '0', '1', '0'], dtype='<U20136')

In [52]:
NB_score=classifier_NB.score(X_test,y_test)

In [38]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression

In [42]:
lasso = LogisticRegression(C=1e5)

In [44]:
lasso.fit(X_train,y_train)

LogisticRegression(C=100000.0, class_weight=None, dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [51]:
LR_score=lasso.score(X_test,y_test)

In [46]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier

In [47]:
rando = RandomForestClassifier(n_estimators=5)

In [48]:
rando.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=5,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [50]:
RF_score=rando.score(X_test,y_test)

In [63]:
print("Accuracy of Random Forest Classifier is {}%".format(RF_score*100))
print("Accuracy of Multinomial Naive Bayes Classifier is {}%".format(NB_score*100))
print("Accuracy of Logistic Regression Classifier is {}%".format(LR_score*100))

Accuracy of Random Forest Classifier is 81.75%
Accuracy of Multinomial Naive Bayes Classifier is 81.38461538461539%
Accuracy of Logistic Regression Classifier is 97.11538461538461%